nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #2CBF15;
}